<a href="https://colab.research.google.com/github/nacarrillor/MDigital/blob/main/Clase_5_MD_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONTINUACIÓN DE CICLOS**

---

**Ciclo FOR - Bucle FOR**

In [1]:
for i in range (1,5):
  print (i)

1
2
3
4

Para dejar claro las partes que componen el bucle FOR, vamos a dejar claro las siguientes definiciones:

1. *Iterable:* Como los objetos que pueden ser iterados. Por ejemplo: una lista, un valor tipo cadena, etc.
2. *Iterador:* Son objetos que hacen referencia a un elemento (Para hacer referencia a cada uno de los elementos, hay un método denominado "next" que permite hacer referencia a los elementos del conjunto.)

**for <variable> in <iterable>:**

   **<Bloque código>**

Algunos ejemplos de iterables en Phyton son las listas, cadenas, diccionarios, tuplas, etc.


**¿Cómo saber que es iterable a la hora de programar?**
Podemos darnos cuenta que es iterable usando la función que se escribe isinstance().

In [4]:
#Paquete Iterable de Collections (Python 3.7) kernel
from collections import Iterable

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  """Entry point for launching an IPython kernel.

In [10]:
#Ejemplo
lista= [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
a= "computador"
b= 14
print (isinstance(lista, Iterable))
print (isinstance(a, Iterable))
print (isinstance(b, Iterable))

True
True
False

In [11]:
#No va a correr porque no puedo iterar un solo elemento y va a aparecer error
a=30
for i in a:
  print(i)

TypeError: ignored

Para entender los "iteradores", es importante conocer la función *iter()*, esta función puede ser llamada sobre un objeto que sea iterable, y nos devolverá un iterador

In [13]:
#Ejemplo
lista= [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
ref= iter(lista)
print(ref)
print(type(ref))

<list_iterator object at 0x7f9dd1ac98d0>
<class 'list_iterator'>

Al imprimir ref, es un iterador de la clase list_iterator. Lo cual hace referencia a la lista original y nos permite acceder a sus elementos con la función *next()*.
**Nota:** Cada vez que llamemos a next() sobre Ref, nos devuelve el siguiente elemento de la listsa original.

In [16]:
#Ejemplo
lista= [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
ref= iter(lista)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

1
2
3
4
5
6
7

**Tener en cuenta**
Existen otros iteradores para las diferentes clases
1. str_iterator para cadenas
2. list_iterator para listas
3. set_iterator para conjuntos
4. dict_keyiterator para diccionarios

**For anidados**
---

Es posible anidar los for, es decir ingresar uno dentro de otro, como lo vemos a continuación.

In [22]:
#Vamos a crear una lista de listas, lo cual conforma una especie de matriz. Recordemos que una matriz se compone de valores que se distribuyen en filas y columnas
qa=[[1,2,3],
    [3,4,5],
    [7,8,9]]

for i in qa:
  print(i)

for i in qa:
  for j in i:
    print(j)

[1, 2, 3]
[3, 4, 5]
[7, 8, 9]
1
2
3
3
4
5
7
8
9

Si queremos acceder a cada elemento individualmente, se procede a realizar un blucle de FOR anidado. Es decir un for se encargará de iterar las columnas y el otro las filas.

In [23]:
#Otra forma de utilizar sólo el for es la iteración al revés. Es decir que se puede iterar la lista desde el último al primer elemento.
lista= [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
for i in lista[::-1]:
  print(i)

0
9
8
7
6
5
4
3
2
1

In [28]:
lista= [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
for i in lista[::2]:
  print(i)
print("----------------")
a= "computador"
for i in a[::2]:
  print(i)

1
3
5
7
9
----------------
c
m
u
a
o

In [31]:
#Usando rangos
for i in range (20):
  print(i)
#El range () genera una secuencia de números que van desde 0 por defecto hasta el número que se pasa como parámetro menos 2.
#Estructura: range (número inicio, número final, número salto para lectura de la iteración)
print(list(range(2, 10, 2)))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
[2, 4, 6, 8]

**Listas de comprehensión**

----
Estas nos permiten crear listas de elementos en una sola linea de código.

Ejemplo: Crear una lista de las potencias a la 3 de los números impares de 0 a 9

In [41]:
tres=[i**3 for i in range (1,10,2)]
#1, 3, 5, 7, 9
print(tres)

tres=[]
for i in range (1,10,2):
  tres.append(i**3)
  #append añadidura de elementos en operaciones
  print(i)

[1, 27, 125, 343, 729]
1
3
5
7
9

In [42]:
s=[1 for i in range(10)]
print(s)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [43]:
lwa=[5,10,15,20,25,30]
lwa2=[i/5 for i in lwa]
print (lwa2)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [46]:
#Añadiendo condicionales (valor cadena)
pera = "Mama ama a ema"
pera2 = [i for i in pera if i=="m"]
print(pera2)

['m', 'm', 'm']

In [48]:
#Añadiendo condicionales (valor cadena)
pera = "Mama ama a ema"
pera2 = [i for i in pera if i=="a"]
print(pera2)

print (len(pera2))

['a', 'a', 'a', 'a', 'a', 'a']
6