<a href="https://colab.research.google.com/github/nacarrillor/MDigital/blob/main/Clase_2_MD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Introdución**

Para manejar un código limpio en Python, podemos seguir las siguientes recomendaciones:

1. Manejar siempre minuscula.
2. Se puede añadir números
3. Aparecera error si no están seguidos de la declaración de la variable con el número asignado, es decir. Ejemplo: ana1(correcto) ana 1 (incorrecto por el espacio = error)

En python hay varios tipos de datos compuestos y estan disponibles por defecto en los interpretes.

**¿De qué tipo?**
1. Númericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar otros valores

#**Diferencia entre constantes y variables**

En matemáticas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo 1: Contabilidad: Gastos fijos, muebles de oficina.
Ejemplo 2: 6

Por otro lado, el concepto de variable, la podemos definir como la cantidad que es susceptible a tomar distintos valores numéricos.

Ejemplo:

In [2]:
x=30
print (x)

30

**Tipos de datos**


**Enteros**

-Son los números que no tienen decimales

-Pueden ser positivos y negativos

In [3]:
a=int(3.44)
print (a)

3

El comando int es para hacer alusión a números enteros. A parte el comando float, permite valores decimales.

In [4]:
b=float(0.23)
print (b)

0.23

#**Tipo Cadena**

Las cadenas son texto ecerrado entre comillas (Simples o dobles) y se pueden conformar de diferentes caracteres (númericos, alfabéticos, especiales /&%$#). TENER EN CUENTA, LAS CADENAS ADMITEN OPERADORES COMO LA SUMA Y RESTA. (Variable String)

In [2]:
Val2= "Hola mundo"
print (Val2)
val1 = "Aleja"
print(val1)

Hola mundo
Aleja

In [13]:
n= "Aprender"
z= "Python"
nz= n+""+z
print (n,z)

Aprender Python

In [14]:
#Tipo cadena lo cambio a string
q= "5"
p= "2"
b= int(p)
c= int(q)
print (b-c)

-3

**Tipo Booleanos**

Este tipo de variable solo tendrá un valor Verdadero o Falso

**Nota**

Son valoresmuy usados en condicionales y bucles

In [19]:
lola= False
print("El valor es verdadero:", lola, ",el cual es de tipo", type(lola))

El valor es verdadero: False ,el cual es de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:

1. Listas
2. Tuplas
3. Diccionarios

**Tipo de conjuntos:**

Son una colección de datos sin elementos que se repiten

In [22]:
fru= "pera", "manzana", "naranja"
color = "morado", "blanco", "azul"
print (fru, color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo Listas**

Son listas que almacenan vectores.
Las listas siempre empiezan a nombrarse desde el elemento cero.

Ejemplo de listas en Python

In [25]:
ines= ['1','uva','lila','perro', 'celular', 'micro','botella', 'tetero','10']
print(ines)
fe= ines[0:3:2]
print(fe)

['1', 'uva', 'lila', 'perro', 'celular', 'micro', 'botella', 'tetero', '10']
['1', 'lila']

**Tipo tuplas**

Es una lista que no se puede modificar después de la modificación de esta:
Son de caracter de conjunto

Tuplas anidadas: Agrupación (Tuplas).

In [29]:
tupla= 23, 28, 'hello'
print (tupla)
#ANIDADO, es agrupado, como el siguiente:
OTRA= tupla, (1,2,3,4)
print (OTRA)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**

Define los datos uno a uno, entre un campo (ID= IDENTIFICADOR, CLAVE) y un valor

In [38]:
Datos_b= {
    "Nombres": "Diana",
    "Apellido": "Perea",
    "Cedula":"12345",
    "Est_Civil": "viuda",
    "Lugar_Naci": "Neiva",
    "Fecha de nacimiento": "24/12/1980",
}
print("ID del diccionario", Datos_b.keys())
print("ID del diccionario", Datos_b.values())
print("ID del diccionario", Datos_b.items())
print("Cedula", Datos_b['Cedula'])

ID del diccionario dict_keys(['Nombres', 'Apellido', 'Cedula', 'Est_Civil', 'Lugar_Naci', 'Fecha de nacimiento'])
ID del diccionario dict_values(['Diana', 'Perea', '12345', 'viuda', 'Neiva', '24/12/1980'])
ID del diccionario dict_items([('Nombres', 'Diana'), ('Apellido', 'Perea'), ('Cedula', '12345'), ('Est_Civil', 'viuda'), ('Lugar_Naci', 'Neiva'), ('Fecha de nacimiento', '24/12/1980')])
Cedula 12345

**Ejemplo práctico (caracteristicas de los carros)**

In [37]:
Carros_0={}
Carros_0['tam']='grande'
Carros_0['color']= 'negro'
Carros_0['marca']= 'renault'
Carros_0['precio']= 60

Carros_1={}
Carros_1['tam']='pequeño'
Carros_1['color']= 'blanco'
Carros_1['marca']= 'renault'
Carros_1['precio']= 37
print (Carros_0)
print (Carros_1)

Compra0= Carros_0['precio']
Compra1= Carros_1['precio']
Compratotal= Compra0+Compra1

print ("La compra total fue de:", Compratotal)

{'tam': 'grande', 'color': 'negro', 'marca': 'renault', 'precio': 60}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'renault', 'precio': 37}
La compra total fue de: 97